/* 链接样式 */
a {
    display: inline-block; /* 将链接显示为块级元素 */
    padding: 10px 20px; /* 设置内边距 */
    background-color: #007bff; /* 按钮背景颜色 */
    color: white; /* 字体颜色 */
    text-decoration: none; /* 去掉下划线 */
    border-radius: 15px; /* 设置圆角 */
    transition: background-color 0.3s; /* 添加背景色过渡效果 */
}

/* 链接获得焦点时的样式 */
a:focus {
    background-color: #e0e0e0; /* 添加背景色 */
    outline: 3px dashed #0056b3; /* 虚线轮廓 */
    outline-offset: 3px; /* 轮廓偏移 */
}

/* 悬停时的背景颜色和放大效果 */
a:hover {
    background-color: #0056b3; /* 悬停时背景色 */
    transform: scale(1.05); /* 悬停时稍微放大按钮 */
}

/* 页面主体样式 */
body {
    font-family: Arial, sans-serif; /* 字体样式 */
    background-color: #f4f4f4; /* 页面背景色 */
    color: #333; /* 字体颜色 */
    line-height: 1.6; /* 行高 */
    margin: 0; /* 清除默认外边距 */
    padding: 20px; /* 设置内边距 */
}

/* 代码样式 */
code {
    text-align: left; /* 左对齐代码 */
    font-family: 'Courier New', Courier, monospace; /* 等宽字体 */
}

/* 标题样式 */
h1, h2, h3, h4, h5, h6 {
    color: #007bff; /* 标题颜色 */
    margin: 10px 0; /* 上下外边距 */
}

/* 页眉样式 */
header {
    background: #f8d7da; /* 页眉背景色 */
    color: #721c24; /* 页眉字体颜色 */
    padding: 10px 20px; /* 设置内边距 */
    border-radius: 5px; /* 设置圆角 */
    text-align: center; /* 中央对齐 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 添加阴影效果 */
}

/* 图像样式 */
img {
    max-width: 100%; /* 确保图像不会超出容器的宽度 */
    height: auto; /* 保持图像的宽高比 */
    border: 4px solid #007bff; /* 边框颜色为蓝色，宽度为4px */
    border-radius: 10px; /* 圆角半径为10px */
    padding: 5px; /* 图像与边框之间的间距为5px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果，使图像有浮动感 */
    transition: transform 0.3s; /* 使图像在特定操作时有平滑的缩放效果 */
    display: block; /* 让图像成为块级元素，便于居中 */
    margin: 0 auto; /* 通过自动边距使图像水平居中 */
}


/* 有序列表样式 */
ol {
    margin: 10px 0 20px 20px; /* 上下外边距，左侧内边距 */
    padding-left: 20px; /* 左侧内边距 */
}

/* 代码块样式 */
pre {
    background: #e9ecef; /* 背景颜色 */
    border-radius: 5px; /* 圆角边框 */
    overflow-x: auto; /* 横向溢出滚动 */
    padding: 10px; /* 内边距 */
}

/* 内容区块样式 */
section {
    background: #fff; /* 内容区块背景颜色 */
    border-radius: 5px; /* 圆角边框 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 添加阴影效果 */
    margin: 20px 0; /* 上下外边距 */
    padding: 20px; /* 内边距 */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

section:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-5px); /* 鼠标悬停时轻微上移 */
}

/* 无序列表样式 */
ul {
    margin: 10px 0 20px 20px; /* 上下外边距，左侧内边距 */
    padding-left: 20px; /* 左侧内边距 */
}
